<form [formGroup]="formSearch" (submit)="onSubmit()">
  <div class="form-container">
    <input
      class="form-control"
      type="text"
      placeholder="Search"
      aria-label="Search"
      formControlName="search"
    />
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
<div class="container">
  <h1>Programas de TV encontrados</h1>
  <div class="show-list" *ngIf="shows.length > 0">
    <li *ngFor="let show of shows" (click)="selecionaShow(show.show.id)">
      {{ show.show.name }}
    </li>
  </div>
  <table *ngIf="episodes.length > 0" class="table">
    <thead>
      <tr>
        <th scope="col">Temporada</th>
        <th scope="col">Episódio</th>
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let episode of episodes">
        <td>{{ episode.season }}</td>
        <td>{{ episode.number }}</td>
        <td>{{ episode.name }}</td>
        <td>{{ episode.airdate }}</td>
      </tr>
    </tbody>
  </table>
</div>
